.container-fluid {
	margin-left: 200px;
	margin-right: 200px;
}

.media {
	padding-right: 10px;
}

.limitedtitle5 {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;     /* fallback */
   max-height: 80px;      /* fallback */
   -webkit-line-clamp: 5; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.limitedtitle2 {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;     /* fallback */
   max-height: 80px;      /* fallback */
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.mainlimitedtitle {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;

   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}
.limitedsummary {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;     /* fallback */
   max-height: 80px;      /* fallback */
   -webkit-line-clamp: 5; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.limitedsummary1 {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;     /* fallback */
   max-height: 112px;      /* fallback */
   -webkit-line-clamp: 7; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.page-header {
	margin-top : 0;
}

.list-special .list-group-item:first-child {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.list-special .list-group-item:last-child {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  max-height: 472px;
  overflow-y: hidden;
}

#new-board-btn {
    white-space: normal;
}