<div>
	<form>
		<table class="table table-bordered">
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Description</th>
				<th>Position</th>
				<th>Parent</th>
				<th>Enabled</th>
			</tr>
			<tr ng-repeat="category in categories track by category.id" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)"
				ng-dblclick="openModal($index)">
				<td>{{category.id}}</td>
				<td>{{category.name}}</td>
				<td>{{category.description}}</td>
				<td>{{category.position}}</td>
				<td>{{category.parentName}}</td>
				<td>{{category.enabled}}</td>
				<td>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href ng-click="openModal(undefined)">New Category</a>
						</li>
						<li class="breadcrumb-item"><a href ng-click="deleteCategory($index)">Delete</a>
						</li>
					</ol></td>
			</tr>
		</table>
	</form>
	<script type="text/ng-template" id="editModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Edit Category</h3>
        </div>
        <div class="modal-body" id="modal-body">
   			<div ng-include="'resources/views/add_category.html'"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </script>
	<script type="text/ng-template" id="deleteModalContent.html">
        <div class="modal-body" id="modal-body">
   			<div class="alert alert-warning">
 			 <strong>Warning!</strong> Are you sure?!.
			</div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl1.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl1.cancel()">Cancel</button>
        </div>
    </script>
	<div class="modal"></div>
</div>
<style>
.selected {
	background-color: #66ff66;
	color: white;
	font-weight: bold;
}
</style>